body {
    font-family: 'Roboto', sans-serif;
    /*display: grid;*/
}

.top-containter {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*grid-template-rows: 1fr 1fr 1fr;*/
    /*grid-template-areas: 
        "image image image image"
        "image header header image";*/
}

.top-image {
    position: relative;
    /*width: 50px;*/
}

.top-image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

#header1 {
    background-color: gainsboro;
}